@media screen and (max-width: 600px) {



    .navbar {
        margin: 30px 40px;
    }



    .search-inputs {
        flex-direction: column;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-brand {
        display: flex;
        justify-content: flex-start;
        font-size: 23px;

    }

    .navbar-title {
        font-size: 23px;
    }

    .search-inputs input,
    .search-inputs select,
    .search-inputs button {
        width: 400px;
        height: 50px;
    }


    /* tours section */
    .tours {
        flex-direction: column;
        justify-content: center;
        margin: 20px auto;


    }

    .tour-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        margin: 10px auto;

    }

    .tour-description {
        /* width: 335px; */
        font-size: 14px;
    }

    .tour-list-item>li {
        font-size: 14px;
    }

    .tour-description {
        /* width: 335px; */
        font-size: 14px;

    }

    .tours-image>img {
        width: 100%;
        /* height: 342px; */
    }

    .btn-primary {
        margin: 10px auto 20px auto;
    }

    .destination-head>h2 {
        font-size: 30px;
        text-align: center;
    }


}

@media screen and (max-width: 600px) {

    .maldiv-indo {
        flex-direction: column;
        margin: 20px auto;
        gap: 30px;
    }

    .srilanka-north-kashmir {
        flex-direction: column;
        gap: 100px;
        margin: 30px auto;

    }

    .bandladesh {
        flex-direction: column;
        margin: 100px auto 30px auto;
        gap: 30px;
    }

    .destination-head {
        width: auto;
    }

    .destination-head>p {
        width: auto;
    }



    .maldiv-indo>div {
        width: 100%;
        height: 250px;
        align-items: center;
    }

    .choose-us {
        width: 100%;
    }

    .choose-text>h3 {
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }

    .choose-text>p {
        width: 100%;
    }

    .cart-container {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .cart-container>div {
        width: 100%;

    }

    .cart>p,
    .cart-bottom>p {
        max-width: 90%;
    }

    .cart>h4,
    .cart-bottom>h4 {
        font-size: 20px;
    }

    .cart-bottom {
        width: 100%;
    }


    .perfect-place-container {
        flex-direction: column;
        gap: 10px;
        /* margin-bottom: 100px; */
    }

}