@media screen and (max-width: 600px) {



    .navbar {
        margin: 30px 40px;
    }



    .search-inputs {
        flex-direction: column;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-brand {
        display: flex;
        justify-content: flex-start;
        font-size: 23px;

    }

    .navbar-title {
        font-size: 23px;
    }

    .search-inputs input,
    .search-inputs select,
    .search-inputs button {
        width: 400px;
        height: 50px;
    }


    /* tours section */
    .tours {
        flex-direction: column;
        justify-content: center;


    }

    .tour-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;

    }

    .tour-description {
        /* width: 335px; */
        font-size: 14px;
    }

    .tour-list-item>li {
        /* width: 335px; */
        font-size: 14px;
        border: 1px solid salmon;

    }

    .tour-description {
        /* width: 335px; */
        font-size: 14px;

    }

    .tours-image>img {
        width: 100%;
        /* height: 342px; */
    }


}

@media screen and (max-width: 600px) {

    .maldiv-indo {
        flex-direction: column;
        margin: 20px auto;
        gap: 30px;
    }

    .srilanka-north-kashmir {
        flex-direction: column;
        gap: 100px;
        margin: 30px auto;

    }

    .bandladesh {
        flex-direction: column;
        margin: 100px auto;
        gap: 30px;
    }

    .destination-head {
        width: auto;
    }

    .destination-head>p {
        width: auto;
    }



    .maldiv-indo>div {
        width: 100%;
        height: 250px;
        align-items: center;
    }

}