@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* navebar style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 152px;
    background: #FFF;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-title {
    font-size: 2.25rem;
}

.navbar-nav {
    display: flex;
    text-decoration: none;

}

.navbar-nav li {
    margin: 20px;
    list-style: none;
}

.navbar-nav li a {
    text-decoration: none;
    color: black;

}

/* end navbar */


/* main section start with searchbar */

.main-banner {
    max-width: 81%;
    height: 37.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center center;
    background-size: cover;
    border-radius: 16px;
    object-fit: cover;

}

.search-container {

    padding: 50px;
    color: white;
    text-align: center;
}

.search-container h1 {
    margin-bottom: 20px;
    font-size: 3em;
}

.intro-text {
    margin-bottom: 30px;
}

.search-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-inputs input,
.search-inputs select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.search-inputs button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

/* responsive for mobile */

@media screen and (max-width: 600px) {


    .navbar {
        margin: 30px 20px;
    }

    .main-banner {
        max-width: 95%;
    }




    .search-inputs {
        flex-direction: column;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-brand {
        display: flex;
        justify-content: flex-start;
        font-size: 23px;

    }

    .navbar-title {
        font-size: 23px;
    }
}