@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF5400;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 180px;
    height: 60px;
    margin: 30px 0;

}

/* navebar style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 152px;
    background: #FFF;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-title {
    font-size: 2.25rem;
}

.navbar-nav {
    display: flex;
    text-decoration: none;

}

.navbar-nav li {
    margin: 20px;
    list-style: none;
}

.navbar-nav li a {
    text-decoration: none;
    color: black;

}

/* end navbar */


/* main section start with searchbar */

.main-banner {
    max-width: 81%;
    height: 37.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png') no-repeat center center;
    background-size: cover;
    border-radius: 16px;
    object-fit: cover;

}

.search-container {

    padding: 50px;
    color: white;
    text-align: center;
}

.search-container h1 {
    margin-bottom: 20px;
    font-size: 3em;
}

.intro-text {
    margin-bottom: 30px;
}

.search-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;


    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

.search-inputs input,
.search-inputs select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;

    width: 180px;
    height: 60px;
}

.search-inputs button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #FF5400;
    cursor: pointer;
    font-size: 1em;
    width: 180px;
    height: 60px;
}

/* tour  section */

.tours {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 100px auto;

}


.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.tour-description {

    width: 98%;
    margin: 24px 0px;
    font-size: 16px;
}

.tour-list-item li {

    padding: 10px 0;
    font-size: 16px;
    margin-right: 10px;
    width: 98%;

}

.destination {
    width: 80%;
    margin: 0 auto;
}

.item {
    position: relative;
}

.image-text {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    transform: translate(-50%, -50%);
}


.destination-head {
    width: 1440px;
    align-items: center;
    text-align: center;
}

.destination-head>h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.destination-head>p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;
}


.maldiv-indo>div {
    width: 48%;
    height: 300px;
    align-items: center;


}

.maldiv-indo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 30px auto 150px auto;
    box-sizing: border-box;
}

.item>img {
    background-size: cover;

}

.item>img {
    width: 100%;
}

.item-1 {
    flex-grow: 1;
}

.item-2 {
    flex-grow: 1;
}

/* done done done done done done done done done  */

.srilanka-north-kashmir>div {

    height: 286px;
    align-items: center;

}

.srilanka-north-kashmir {
    display: flex;
    gap: 10px;
    /* margin-top: 30px; */
    margin: 100px auto 150px auto;
}

.item-3 {
    flex-grow: 1;
}

.item-4 {
    flex-grow: 1;
}

.item-5 {
    flex-grow: 1;
}

.srilanka-north-kashmir>div>img {
    height: 350px;
}

.bandladesh {

    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0;
    margin: 150px auto 150px auto;
    box-sizing: border-box;
}

.bangladesh>div {
    height: 286px;
    align-items: center;
    width: 48%;

}

.bangladesh>div>img {
    height: 350px;
    width: 100%;
}

.item-6 {
    flex-grow: 1;
}

.item-7 {
    flex-grow: 1.5;
}


/*  choos us container*/


.choose-text>h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.choose-text>p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 20px auto;

}

.cart-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    gap: 20px;
    align-items: center;
}

.cart>img,
.cart-bottom>img {
    margin: 40px auto 10px 40px;
}

.cart>h4,
.cart-bottom>h4 {
    margin: 0 auto 0 40px;
}

.cart>p,
.cart-bottom>p {
    width: 500px;
    margin: 15px auto 0 40px;
}

.cart-container>div {
    width: 49%;
    height: 300px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    align-items: center;
}


.cart-bottom {
    margin: 0 auto 50px auto;
    width: 50%;
    height: 300px;

    justify-content: center;
    align-items: center;


    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


/* perfect place */


.perfect-place-container {

    display: flex;
    height: 600px;
    justify-content: space-between;
    align-items: center;
}

.perfect-place-container {
    margin: 100px auto;
}

.perfect-place-container>div {
    width: 48%;
}

.perfect-place-text {
    width: 100%;
    /* height: 424px; */
    align-items: center;
}

.perfect-place-text>h2 {
    width: 448px;
    margin: 0px auto 24px 0px;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.perfect-place-container>div>img {
    width: 100%;
    height: 500px;
}

.perfect-place-text>p {
    width: 98%;
    color: #5A5A5D;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;

}


.perfect-place-text>ul>li {
    max-width: 90%;
    font-size: 18px;
    gap: 10px;

}

.newsletter-container>div {
    max-width: 48%;
}

.newsletter-container {
    margin: 150px auto;
    display: flex;
    gap: 0;
    justify-content: space-between;
    background: #FFF;
}

.newsletter-text {
    width: 100%;
}

.newsletter-container>img {
    width: 100%;
}



.newsletter-form input[type="text"],
.newsletter-form input[type="email"] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    height: 3.5rem;

}

.newsletter-form button {
    width: 90%;
    height: 3.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #ff6a00;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-container h2 {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 30px 0px 10px 0px;
}

.newsletter-text>p {
    margin: 30px 0px;
}

.newsletter-form button:hover {
    background-color: #e65a00;
}


.travel-ad {
    position: relative;
    width: 100%;
    height: 100%;
}

.news-letter-img {
    width: 100%;
    height: auto;
    display: block;
}

.offer-tag {
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: #ff6a00;
    padding: 20px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.website-name,
.discount {
    color: white;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.website-name {
    font-size: 1.5em;
    font-weight: bold;
}

.discount {
    font-size: 2em;
}

/*  */

.testimonial>div {
    width: 20%;
    background-color: #FFF;
}


/* footer */

.footer {
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container {
    width: 100%;
    height: 400px;
    align-items: center;
    text-align: center;


}

footer-box {
    width: 48%;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-logo>img {
    width: 50px;
    margin-right: 5px;
    height: 46.673px;
    flex-shrink: 0;
}

.footer-logo>h4 {
    font-size: 32px;
    font-weight: 800px;
}

.social-icon {
    margin: 20px 0;

}

.social-icon>i {
    size: 20px;
    margin-right: 10px;
}